			.navbar-brand{
				font-size: 25px;
				padding-left: 100px;
				color: #fff !important;
			}
			
			.navbar-nav{
				margin: 0 auto;
			}

			.navbar-nav .nav-item{
				margin-left: 40px;
			}

			.navbar-nav .nav-item .nav-link{
				color: #fff;
			}

			.navbar-nav .nav-item a:hover{
				color:#ffa500;
				transition: 0.4s ease-in-out;
			}
			
			.navbar .btn{
				color: #fff;
				height: 50px;
				margin-right: 200px;
			}

			.navbar-toggler{
				border: 3px solid #ffa500;
				background: #fff;
			}

            .main{
                width: 100%;
            }

			.About-us{
				height: 50vh;
				background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/crypto-exchanges.jpg);
				background-size: cover;
				background-position: center;
			}

			.About-us .About-us-content{
				color: #fff;
				width: 86.5%;
				margin: auto;
                text-align: center;
                padding-top: 150px;
			}

			.About-us .About-us-content p{
                font-size: 18px;
            }

            .About-us .About-us-content .about-us-hr{
                border-top: 3px solid #ffa500;
                width: 100px;
                position: relative;
                left: 670px;
            }
			
			.About-us-slider{
				width: 100%;
                height: 45px;
				background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/slider-img.jpg);
                text-align: center;
                padding-top: 10px;
                color: #fff;
                font-size: 18px;
			}
			
			.info-section{
                height: 80vh;
                background: black;
            }

            .info-section .info-content{
                width: 86.5%;
				margin: auto;
                color: #fff;
				padding-top: 120px;
            }

			.info-section .info-content h1{
				font-size: 55px;
			}

			.info-section .info-content p{
				padding-top: 18px;
				color:#b2beb5;
			}

			.info-section .info-content .info-content-text{
				display: flex;
				gap: 100px;
				padding-left: 150px;
				padding-top: 20px;
			}

			.info-section .info-content .info-content-text p{
				padding-left: 30px;
				margin-top: 20px;
				color: #b2beb5;
				width: 60%;
				background: #252433;
			}

			.bitcoin-feature{
				height: 100vh;
				background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(images/image1.png);
			}

			.bitcoin-feature .bitcoin-feat-content{
				width: 86.5%;
				margin: auto;
				text-align: center;
				color: #fff;
				padding-top: 130px;
			}

			.bitcoin-feature .bitcoin-feat-content h1{
				font-size: 55px;
			}

			.bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr{
				border-top: 3px solid #ffa500;
                width: 100px;
				position: relative;
                left: 670px;
			}

			.bitcoin-feature .bitcoin-feat-content p{
				color: #b2beb5;
			}

			.bitcoin-feat-text{
				float: left;
                text-align: left;
			}

			.bitcoin-feat-text .first-part{
				display: flex;
				gap: 300px;
			}

			.bitcoin-feat-text .second-part{
				display: flex;
				gap: 300px;
				margin-top: 45px;
			}

			.ending-details{
				height: 45vh;
				background: #1A1A1A;
			}

			.ending-detailsContent{
				width: 95%;
				margin: 0 auto;
				display: flex;
				gap: 80px;
				padding: 70px;
			}

			.ending-detailsContent{
				color: #fff;
			}

			.ending-detailsContent p{
				color: #656765;
			}

			.ending-detailsContent p:hover{
				color: #ffa500;
				transition: 0.3s ease-in-out;
			}

			.ending-detailsContent p a:hover{
				color: #ffa500;
				transition: 0.3s ease-in-out;
			}

			.ending-detailsContent h4{
				color: #fff;
			}

			.ending-detailsContent a{
				text-decoration: none;
				color:#656765;
			}

			.ending-detailsContent input{
				border: none;
				border-bottom: 1px solid #656765;
				padding-bottom: 6px;
				background: transparent;
			}

			.ending-detailsContent .submit-button{
				margin-top: 10px;
				border: none;
				border: 1px solid #ffa500;
				width: 200px;
				height: 50px;
				background: transparent;
				color: #fff;
				cursor: pointer;
				letter-spacing: 1.3px;
			}

			.ending-detailsContent .submit-button:hover{
				border: none;
				background: #ffa500;
				transition: 0.3s ease-in-out;
				color: #fff;
			}

			.accordion{
				width: 100%;
       		}

			.accordion-item{
				background: none !important;
				border: none !important;
				color: #656765 !important;
			}

			.accordion-button{
				background: none !important;
				border: none !important;
				color: #656765 !important;
			}

			.accordion-button:focus{
				color: #fff !important;
			}


/* Small screens (phones) */
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 20px;
        padding-left: 20px;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
    }

    .navbar .btn {
        margin-right: 20px;
    }
/* About us section */
    .About-us-content {
        padding-top: 100px;
    }

    .About-us .About-us-content h1 {
        font-size: 30px;
    }

    .About-us .About-us-content .about-us-hr {
        left: 36%;
    }

/* Info section */
    .info-section{
        height: 250vh;
    }

    .info-section .info-content{
        display: flex;
		flex-direction:column;
		align-items: center;
		gap: 7px;
        position: relative;
        bottom: 60px;
    }

    .info-section .info-content h1 {
        font-size: 32px;
    }

    .info-section .info-content .info-content-text{
        display: list-item;
        list-style: none;
        padding-left: 5px;
    }

    .info-section .info-content .info-content-text img{
        width: 350px;
        height: 400px;
    }

    .info-section .info-content .info-content-text p {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    /* bitcoin section */
    .bitcoin-feature{
        height: 200vh;
    }
    .bitcoin-feature .bitcoin-feat-content h1 {
        font-size: 35px;
    }

    .bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr {
        left: 33%;
    }

    .bitcoin-feat-text {
        display: block;
        position: relative;
        left: 11%;
        text-align: center;
    }

    .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part {
        display: block;
        gap: 20px;
        margin-top: 20px;
    }

    /* contact section */
    .ending-details{
		height: 120vh;
	}

	.ending-details .ending-detailsContent{
		display: list-item;
		list-style: none;
		position: relative;
		bottom: 70px;
	}

	.ending-details .ending-detailsContent div{
		margin-bottom: 35px;
	}
}

   /* mobile screens resolution(iphoneXR) 414 x 896 */
   @media screen and (width: 414px) and (height: 896px) {
    .info-section{
        height: 200vh;
    }
   }

   /* mobile screens resolution(iphone12pro) 390 x 844 */
    @media screen and (width: 390px) and (height: 844px) {
        .info-section{
            height: 230vh;
        }

        .bitcoin-feature{
            height: 220vh;
        }

        .ending-details{
            height: 130vh;
        }
    }

    /* mobile screens resolution(iphone14promax) 430 x 932 */
    @media screen and (width: 430px) and (height: 932px) {
        .info-section{
            height: 190vh;
        }
    }

    /* mobile screens resolution(pixel7) 412 x 915 */
    @media screen and (width: 412px) and (max-height: 915px) {
        .info-section{
            height: 215vh;
        }
    }

    /* mobile screens resolution(samsung galaxy s8+) 360 x 740 */
    @media screen and (width: 360px) and (height: 740px) {
        .About-us-content {
            padding-top: 80px !important;
        }
        
        .info-section .info-content h1 {
            font-size: 30px;
        }

        .info-section .info-content .info-content-text img{
            width: 310px;
            height: 400px;
        }

        .info-section{
            height: 260vh;
        }

        .bitcoin-feature{
            height: 246vh;
        }

        .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part{
            position: relative;
            right:30px !important;
        }

        .ending-details{
            height: 153vh;
        }  
    }

    /* mobile screens resolution(iphone6/7/8) 375 x 667 */
    @media screen and (width: 375px) and (height: 667px) {
        .About-us-content {
            padding-top: 80px !important;
        }
        
        .info-section .info-content h1 {
            font-size: 30px;
        }

        .info-section .info-content .info-content-text img{
            width: 310px;
            height: 400px;
        }

        .info-section{
            height: 285vh;
        }

        .bitcoin-feature{
            height: 270vh;
        }

        .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part{
            position: relative;
            right:30px !important;
        }

        .ending-details{
            height: 163vh;
        }  
    }

    /* mobile screens resolution(iphone6/7/8 +) 414 x 736 */
    @media screen and (width: 414px) and (height: 736px) {
        .About-us-content {
            padding-top: 80px !important;
        }

        .bitcoin-feature{
            height: 250vh;
        }

        .ending-details{
            height: 153vh;
        } 
    }

/* Medium screens (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .navbar-brand {
        font-size: 22px;
        padding-left: 40px;
    }

    .navbar-nav .nav-item {
        margin-left: 20px;
    }

    .navbar .btn {
        margin-right: 40px;
    }

    /* About us section */
    .About-us-content {
        padding-top: 120px;
    }

    .About-us .About-us-content h1 {
        font-size: 40px;
    }

    .About-us .About-us-content .about-us-hr {
        left: 43%;
    }

    /* Info section*/
    .info-section{
        height: 150vh;
    }

    .info-section .info-content h1 {
        font-size: 50px;
    }

    .info-section .info-content .info-content-text p {
        width: 100%;
        padding-left: 0;
        margin-top: 100px;
    }

    .info-section .info-content .info-content-text{
        display: list-item;
        list-style: none;
        padding-left: 5px;
    }

    .info-section .info-content .info-content-text img{
        width: 400px;
        height: 450px;
        position: relative;
        left: 150px;
        margin-top: 60px;
    }

    /* bitcoin section */
    .bitcoin-feature{
        height: 160vh;
    }

    .bitcoin-feat-content h1 {
        font-size: 50px;
    }

    .bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr {
        left: 43%;
    }

    .bitcoin-feat-text {
        display: block;
        position: relative;
        left: 31%;
        text-align: center;
    }

    .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part {
        display: block;
        gap: 30px;
        margin-top: 30px;
    }

    /* contact section */
    .ending-details{
		height: 80vh;
	}

	.ending-details .ending-detailsContent{
		display: list-item;
		list-style: none;
		position: relative;
		bottom: 70px;
	}

	.ending-details .ending-detailsContent div{
		margin-bottom: 35px;
	}
}

/* desktop screens resolution 1366 x 768 */
@media screen and (width: 1366px) and (height: 768px) {
    /* navbar section */
    .navbar-brand {
        font-size: 25px;
        padding-left: 100px;
    }

    .navbar-nav .nav-item {
        margin-left: 40px;
    }

    .navbar .btn {
        margin-right: 200px;
    }

    /* About us section */
    .About-us-content {
        padding-top: 150px;
    }

    .About-us .About-us-content h1 {
        font-size: 55px;
    }

    .About-us .About-us-content .about-us-hr {
        left: 46%;
    }

    /* Info section */
    .info-section{
        height: 130vh;
    }

    .info-section .info-content h1 {
        font-size: 55px;
    }

    .info-section .info-content .info-content-text p {
        width: 60%;
        padding-left: 20px;
        margin-top: 20px;
    }

    .info-section .info-content .info-content-text img{
        width: 330px;
        height: 430px;
        position: relative;
        top: 80px;
    }

    /* bitcoin section */
    .bitcoin-feature{
        height: 134vh;
    }

    .bitcoin-feat-content h1 {
        font-size: 55px;
    }

    .bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr {
        left: 46%;
    }

    .bitcoin-feat-text {
        display: block;
        text-align:left;
    }

    .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part {
        display: flex;
        gap: 300px;
        margin-top: 45px;
    }

    .ending-details{
		height: 60vh;
	}

    .ending-detailsContent{
        width: 100%;
        gap: 30px;
    } 
}

  /* desktop screens resolution 1280 x 1024 */
  @media screen and (width: 1280px) and (height: 1024px) {
    .About-us{
        height: 35vh;
    }

    .About-us .About-us-content .about-us-hr {
        left: 46%;
    }

    .info-section{
        height: 100vh;
    }

    .info-section .info-content .info-content-text img{
        width: 330px;
        height: 430px;
        position: relative;
        top: 80px;
    }

    .bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr {
        left: 46%;
    }

    .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part {
        display: flex;
        gap: 250px;
    }

    .ending-detailsContent{
        width: 100%;
        gap: 30px;
    } 
  }

/* desktop screens resolution 1234 x 650 */
@media screen and (width: 1234px) and (height: 650px) {
    .About-us .About-us-content{
        position: relative;
        bottom: 70px;
    }

    .About-us .About-us-content h1{
        font-size: 48px;
    }

    .About-us .About-us-content .about-us-hr {
        left: 46%;
    }

    .info-section{
        height: 175vh;
    }

    .info-section .info-content h1 {
        font-size: 48px;
    }

    .info-section .info-content .info-content-text img{
        width: 330px;
        height: 430px;
        position: relative;
        top: 80px;
    }

    .bitcoin-feature{
        height: 160vh;
    }

    .bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr {
        left: 46%;
    }

    .bitcoin-feat-text .first-part, .bitcoin-feat-text .second-part {
        display: flex;
        gap: 230px;
    }

    .ending-details{
		height: 73vh;
	}

    .ending-detailsContent{
        width: 100%;
        gap: 30px;
    } 
}

/* desktop screens resolution 1440 x 900 */
@media screen and (width: 1440px) and (height: 900px) {
    .About-us .About-us-content .about-us-hr {
        left: 46%;
    }

    .info-section{
        height: 130vh;
    }

    .info-section .info-content .info-content-text img{
        width: 330px;
        height: 430px;
        position: relative;
        top: 80px;
    }

    .bitcoin-feature .bitcoin-feat-content .bitcoin-feat-hr {
        left: 46%;
    }
}