			body{
				background: black !important;
			}
			
			.navbar-brand{
				font-size: 25px;
				padding-left: 100px;
				color: #fff !important;
			}
			
			.navbar-nav{
				margin: 0 auto;
			}

			.navbar-nav .nav-item{
				margin-left: 40px;
			}

			.navbar-nav .nav-item .nav-link{
				color: #fff;
			}

			.navbar-nav .nav-item a:hover{
				color:#ffa500;
				transition: 0.4s ease-in-out;
			}
			
			.navbar .btn{
				color: #fff;
				height: 50px;
				margin-right: 200px;
			}

			.HOME{
				width: 100%;
				height: 80vh;
				background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/milad-fakurian-wNsHBf_bTBo-unsplash.jpg);
				background-size: cover;
				background-position: center;
			}

			.HOME .content{
				color: #fff;
				width: 86.5%;
				margin: auto;
			}

			.home-intro .intro-text{
				padding-top: 150px;
				display: flex;
				gap: 200px;
			}

			.home-intro .intro-text h1{
				font-size: 53px;
				margin-bottom: 20px;
			}

			.home-intro .intro-text p{
				color:  #b2beb5;
				margin-bottom: 60px;
			}

			.home-intro .intro-text button{
				width: 200px;
				height: 50px;
				background: #ffa500;
				border: none;
				border-radius: 5px;
			}

			.home-intro .intro-text button a{
				text-decoration: none;
				color: #fff
			}

			.home-intro .intro-text button:hover{
				background: #1A1A1A;
				transition: 0.3s ease-in-out;
			}

			.home-intro .intro-text .intro-btcImg{
				width: 300px;
				height: 300px;
				opacity: 0.7;
				border-radius: 200px;
			}

			.crypto-market-slider{
				width: 100%;
			}
			
			.tradingview-widget-copyright {
				font-size: 13px !important;
				line-height: 32px !important;
			    text-align: center !important;
			    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
			    color: #9db2bd !important;
				display: none !important;
			}

			.get-started{
				height: 90vh;
				background: ;				
				color: #fff;
				padding-top: 150px;
				margin-top: -33.5px;
			}

			.get-started-content{
				width: 86.5%;
				margin: auto;
				text-align: center;
			}

			.get-started-content h1{
				font-size: 50px;
				margin-bottom: 20px;
			}

			.get-started-content p{
				color: #b2beb5;
			}

			.get-started-cards{
				width: 86.5%;
				margin: auto;
			}

			.get-started-cards .card{
				width: 460px;
				height: 350px;
				background: #252433;
			}

			.get-started-cards .row{
				display: flex;
				gap: 30px;
			}
		
			.get-started-cards .card .card-body{
				padding-top: 40px;
				color: #fff;
			}

			.get-started-cards .card .card-body h5{
				font-size: 35px;
			}

			.get-started-cards .card .card-body p{
				color: #b2beb5;
			}

			.get-started-cards .card .card-body button{
				width: 150px;
				height: 40px;
				border: hidden;
				background: none;
				color: #b2beb5;

			}

			.get-started-cards .card .card-body button:hover{
				border: 1px solid #ffa500;
				transition: 0.3s ease-in-out;
				border-radius: 7px;
				width: 200px;
				height: 40px;
				text-align: center;
			}

			.about-us{
				width: 100%;
				height: 90vh;
				color: #fff;
			}

			.about-us .about-us-content{
				width: 86.5%;
				margin: auto;
				padding-top: 200px;
				display: flex;
				gap: 100px;
			}

			.about-us .about-us-content .about-us-texts h7{
				font-weight: bold;

			}

			.about-us .about-us-content .about-us-texts h1{
				font-size: 50px;
				margin-bottom: 30px;
			}

			.about-us .about-us-content .about-us-texts p{
				font-size: 18px;
				margin-bottom: 30px;
			}

			.about-us .about-us-content .about-us-texts ul li{
				list-style: none;
				font-size: 18px;
				padding-bottom: 10px;
				position: relative;
				right: 32px;
			}

			.about-us .about-us-content .about-us-texts ul li img{
				position: relative;
				bottom: 4px;
			}

			.bitcoin-converter .card{
				width: 460px;
				height: 350px;
				background: #252433;
			}

			.bitcoin-converter .card-body{
				padding-top: 40px;
			}

			.bitcoin-converter .card-body h3{
				font-size: 42px;
				color:#ffa500;
				margin-bottom: 25px;
			}

			.bitcoin-converter .card-body h5{
				font-size: 24px;
				color: #fff;
			}

			.bitcoin-converter .card-body .btn{
				background: #ffa500;
				color: #fff;
			}

			.bitcoin-converter .card-body .btn:hover{
				background: #fff;
				color: #ffa500;
				transition: 0.3s ease-in-out;
			}

			.features{
				height: 90vh;
			}

			.features .features-content{
				padding-top: 180px;
				width: 86.5%;
				margin: auto;
				color: #fff;
			}
				
			.features .features-content .features-texts{
				text-align: center;
			}

			.features .features-content .features-texts h7{
				font-weight: bold;
			}

			.features .features-content .features-texts h1{
				font-size: 50px;
				margin-bottom: 20px;
			}

			.features .features-content .features-texts p{
				color:  #b2beb5;
			}

			.features .features-content .features-info{
				display: flex;
				gap: 200px;
			}

			.features .features-content .features-info .section-icon{
				width: 50px;
				position: relative; 
				top: 40px;
			}

			.features .features-content .features-info .section-image{
				position: relative;
				top: 70px;
			}

			.features .features-content .features-info p{
				color:  #b2beb5;
				padding-bottom: 20px;
			}

			.market{
				height: 90vh;
				background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(images/image1.png);
				background-size: cover;
				background-position: center;
			}

			.market .market-content{
				width: 86.5%;
				margin: auto;
				color: #fff;
				padding-top: 150px;
			}

			.market .market-content .market-text h7{
				font-weight: bold;
			}

			.market .market-content .market-text h1{
				font-size: 50px;
			}

			.choose-us{
				height: 90vh;
			}

			.choose-us-content{
				width: 86.5%;
				margin: auto;
				color: #fff;
				padding-top: 150px;
			}

			.choose-us-content .choose-us-text h7{
				font-weight: bold;
			}

			.choose-us-content .choose-us-text h1{
				font-size: 50px;
			}

			.choose-us-content .choose-us-text p{
				color:  #b2beb5;
				padding-bottom: 35px;
			}

			.choose-us-content .choose-us-info p{
				color:  #b2beb5;
				padding-top: 10px;
				position: relative;
				left: 27px;
			}

			.choose-us-content .choose-us-info .choose-logo{
				position: relative;
				right: 10px;
			}

			.choose-us-content .choose-us-text{
				float: right;
			}

			.owners-quote{
				height: 60vh;
			}

			.owners-quote .owners-quote-content{
				width: 86.5%;
				margin: auto;
				text-align: center;
				padding-top: 180px;
			}

			.owners-quote .owners-quote-content .owners-quote-text p{
				color: #b2beb5;
				font-style: italic;
				font-size: 18px;
			}

			.owners-quote .owners-quote-content .owners-quote-text h5{
				color: #fff;
				font-weight: bold;
				font-size: 25px;
			}

			.owners-quote .owners-quote-content .owners-quote-text .oq-img{
				margin-bottom: 25px;
			}

			.owners-quote .owners-quote-content .owner-img{
				width: 90px;
				height: 90px;
				border-radius: 50%;
				border: 3px solid #ffa500;
			}

			.ending-details{
				height: 45vh;
				background: #1A1A1A;
			}

			.ending-detailsContent{
				width: 95%;
				margin: 0 auto;
				display: flex;
				gap: 80px;
				padding: 70px;
			}

			.ending-detailsContent{
				color: #fff;
			}

			.ending-detailsContent p{
				color: #656765;
			}

			.ending-detailsContent p:hover{
				color: #ffa500;
				transition: 0.3s ease-in-out;
			}

			.ending-detailsContent p a:hover{
				color: #ffa500;
				transition: 0.3s ease-in-out;
			}

			.ending-detailsContent h4{
				color: #fff;
			}

			.ending-detailsContent a{
				text-decoration: none;
				color:#656765;
			}

			.ending-detailsContent input{
				border: none;
				border-bottom: 1px solid #656765;
				padding-bottom: 6px;
				background: transparent;
			}

			.ending-detailsContent .submit-button{
				margin-top: 10px;
				border: none;
				border: 1px solid #ffa500;
				width: 200px;
				height: 50px;
				background: transparent;
				color: #fff;
				cursor: pointer;
				letter-spacing: 1.3px;
			}

			.ending-detailsContent .submit-button:hover{
				border: none;
				background: #ffa500;
				transition: 0.3s ease-in-out;
				color: #fff;
			}

			.accordion{
				width: 100%;
       		}

			.accordion-item{
				background: none !important;
				border: none !important;
				color: #656765 !important;
			}

			.accordion-button{
				background: none !important;
				border: none !important;
				color: #656765 !important;
			}

			.accordion-button:focus{
				color: #fff !important;
			}

/* Mobile-first styles */
@media (max-width: 576px) {
	/* Adjust navbar styles for mobile */
	.navbar-brand {
	  font-size: 20px;
	  padding-left: 10px;
	}
	
	.navbar-nav .nav-item {
	  margin: 0;
	}
  
	.navbar-nav .nav-item .nav-link {
	  font-size: 14px;
	}

	.navbar .btn {
	  height: 40px;
	  margin-right: 10px;
	}

	.navbar-toggler{
		border: 3px solid #ffa500 !important;
	}

	.navbar-toggler-icon{
		background: #fff !important;
	}
  
	/* Modify font sizes and padding for heading and text */
	.home-intro .intro-text div{
		position: relative;
		bottom: 100px;
	}
	
	.home-intro .intro-text h1 {
	  font-size: 32px;
	  margin-bottom: 10px;
	}
  
	.home-intro .intro-text p {
	  font-size: 14px;
	  margin-bottom: 30px;
	}

	.home-intro .intro-text .intro-btcImg{
		display: none;
	}
  
	/* Adjust card width and font size */
	.get-started{
		height: 200vh;
	}

	.get-started-content{
		position: relative;
		bottom: 90px;
	}

	.get-started .get-started-content h1{
		font-size: 43px;
	}

	.get-started-cards{
		position: relative;
		bottom: 80px;
	}

	.get-started-cards .card {
	  width: 100%;
	}
	
	.get-started-cards .card .card-body h5 {
	  font-size: 20px;
	}
	
	.get-started-cards .card .card-body p {
	  font-size: 14px;
	}
  
	/* Adjust about-us content padding */
	.about-us{
		height: 150vh;
	}

	.about-us .about-us-content {
		width: 86.5%;
		margin: auto;
		padding-top: 20px;
		display:list-item;
		list-style: none;
	}
  
	/* Modify font sizes for about-us section */
	.about-us .about-us-content .about-us-texts h1 {
	  font-size: 43px;
	  margin-bottom: 20px;
	}
	
	.about-us .about-us-content .about-us-texts p {
	  font-size: 16px;
	  margin-bottom: 20px;
	}

	.bitcoin-converter .card{
		width: 100%;
		height: 400px;
		background: #252433;
	}

	.bitcoin-converter .card .card-body{
		position: relative;
		bottom: 10px;
	}
  
	/* Adjust section info gap */
	.features{
		height: 140vh;
	}

	.features .features-content{
		position: relative;
		bottom: 170px;
	}

	.features .features-content .features-info {
	  gap: 12px;
	}

	.features .features-content .features-info .section-2{
		display: none;
	}
  
	/* Modify font sizes for features section */
	.features .features-content .features-texts h1 {
	  font-size: 43px;
	  margin-bottom: 10px;
	}
	
	.features .features-content .features-texts p {
	  font-size: 16px;
	  margin-bottom: 20px;
	}
  
	/* Adjust section info gap */
	.market{
		height: 110vh;
	}

	.market .market-content{
		position: relative;
		bottom: 90px;
	}

	.market .market-content .market-text h1{
		font-size: 43px;
	}

	.market .market-content .tradingview-widget-container {
	  width: 100% !important;
	  height: 77vh !important;
	}

	/* Adjust choose us section  */
	.choose-us{
		height: 150vh;
	}

	.choose-us .choose-us-content {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		gap: 7px;
	  }

	.choose-us .choose-us-content .choose-us-text h1{
		font-size: 43px;
	}
	/* Adjust owners quote section  */
	.owners-quote{
		height: 70vh;
	}

	.owners-quote .owners-quote-content{
		position: relative;
		bottom: 170px;
	}

	/* Adjust contact section  */
	.ending-details{
		height: 120vh;
	}

	.ending-details .ending-detailsContent{
		display: list-item;
		list-style: none;
		position: relative;
		bottom: 70px;
	}

	.ending-details .ending-detailsContent div{
		margin-bottom: 35px;
	}
  }

    /* mobile screens resolution(iphone12pro) 390 x 844 */
	@media screen and (width: 390px) and (height: 844px) {
		.ending-details{
			height: 130vh;
		}
	}

	/* mobile screens resolution(samsung galaxy s8+) 360 x 740 */
	@media screen and (width: 360px) and (height: 740px) {
		.get-started{
			height: 210vh;
		}

		.get-started-cards{
			position: relative;
			bottom: 80px;
			left: 20px;
		}

		.get-started-cards .card {
			width: 95%;
			text-align: center;
		  }

		  .about-us{
			height: 165vh;
		}

		.owners-quote{
			height: 78vh;
		}

		.ending-details{
			height: 160vh;
		}
	}

	/* mobile screens resolution(iphone6/7/8) 375 x 667 */
	@media screen and (width: 375px) and (height: 667px) {
		.HOME{
			height: 84vh;
		}

		.get-started{
			height: 240vh;
		}

		.about-us{
			height: 190vh;
		}

		.features{
			height: 149vh;
		}

		.choose-us{
			height: 182vh;
		}

		.owners-quote{
			height: 100vh;
		}

		.ending-details{
			height: 170vh;
		}
	}

	/* mobile screens resolution(iphone6/7/8 +) 414 x 736 */
	@media screen and (width: 414px) and (height: 736px) {
		.get-started{
			height: 220vh;
		}

		.about-us{
			height: 160vh;
		}

		.choose-us{
			height: 177vh;
		}

		.ending-details{
			height: 150vh;
		}
	}
  
 		 /* TABLET AND LARGER SCREEN */
  @media (min-width: 577px) and (max-width: 1024px) {
	/* Adjust home section */
	.navbar-toggler{
		border: 3px solid #ffa500 !important;
	}

	.navbar-toggler-icon{
		background: #fff !important;
	}

	.home-intro .intro-text div h1{
		font-size: 50px;
	}

	.home-intro .intro-text div img{
		display: none;
	}

	/* Adjust get-started section */
	.get-started{
		height: 140vh;
	}

	.get-started .get-started-content h1{
		font-size: 50px;
	}

	.get-started-cards{
		padding-top: 40px;
	}

	.get-started-cards .card {
	  width: 100%;
	}

	/* Adjust about-us content padding */
	.about-us{
		height: 110vh;
	}

	.about-us .about-us-content {
		padding-top: 160px;
		display:list-item;
		list-style: none;
	}

	.about-us .about-us-content .about-us-texts h1{
		font-size: 50px;
	}

	.bitcoin-converter .card{
		margin-top: 40px;
	}

	/* Adjust features section info gap */
	.features{
		height: 90vh;
	}
	.features .features-content .features-info {
	  gap: 50px;
	}

	.features .features-content .features-info .section-2{
		display: none;
	}

	/* Market */
	.market .market-content .tradingview-widget-container {
	  width: 100% !important;
	  height: 70vh !important;
	}

	/* Adjust section info gap */
	.choose-us .choose-us-content {
	  display: flex;
	  flex-direction: column-reverse;
	  align-items: center;
	  gap: 20px;
	}
  
	/* Modify font sizes for choose-us section */
	.choose-us{
		height: 120vh;
	}

	.choose-us .choose-us-content .choose-us-text h1 {
	  font-size: 50px;
	  padding-bottom: 10px;
	}
	
	.choose-us .choose-us-content .choose-us-text p {
	  font-size: 16px;
	  padding-bottom: 20px;
	}
  
	/* Adjust owner quote padding */
	.owners-quote .owners-quote-content {
	  padding-top: 120px;
	}
  
	/* Modify font sizes for owner quote section */
	.owners-quote .owners-quote-content .owners-quote-text p {
	  font-size: 16px;
	}
	
	.owners-quote .owners-quote-content .owners-quote-text h5 {
	  font-size: 20px;
	}
  
	.ending-details{
		height: 80vh;
	}

	.ending-details .ending-detailsContent{
		display: list-item;
		list-style: none;
		position: relative;
		bottom: 70px;
	}

	.ending-details .ending-detailsContent div{
		margin-bottom: 35px;
	}
  }
  
  /* desktop screens resolution 1440 x 900 */
@media screen and (width: 1440px) and (height: 900px) {
		.HOME{
			height: 70vh;
		}

		.home-intro .intro-text .intro-btcImg{
			width: 300px;
		}
	
		.get-started .get-started-content{
			position: relative;
			bottom: 70px;
		}

		.get-started .get-started-content p{
			font-size: 15px;
		}

		.get-started-cards{
			width: 86.5%;
			margin: auto;
		}

		.get-started-cards .card{
			width: 400px;
			height: 350px;
			background: #252433;
		}

		.get-started-cards .row{
			display: flex;
			gap: 25px;
		}

		.features{
			height: 110vh;
		}

		.features .features-content{
			position: relative;
			bottom: 70px;
		}

		.features .features-content .features-info{
			display: flex;
			gap: 100px;
		}

		.tradingview-widget-container{
			width: 100% !important;
		}

		.ending-details{
			height: 53vh;
			margin-top: 80px;
		}
			
		.ending-detailsContent{
			width: 100%;
			gap: 60px;
		} 
			
		.ending-detailsContent .submit-button{
			width: 300px;
		}
			
		.ending-detailsContent input{
			width: 300px;
		}
  }

   /* desktop screens resolution 1280 x 1024 */
@media screen and (width: 1280px) and (height: 1024px) {
	.HOME{
		height: 60vh;
	}

	.get-started .get-started-content{
		position: relative;
		bottom: 70px;
	}

	.get-started .get-started-content p{
		font-size: 15px;
	}

	.get-started-cards{
		width: 86.5%;
		margin: auto;
	}

	.get-started-cards .card{
		width: 350px;
		height: 350px;
		background: #252433;
	}

	.get-started-cards .row{
		display: flex;
		gap: 30px;
	}

	.features{
		height: 90vh;
	}

	.features .features-content{
		position: relative;
		bottom: 70px;
	}

	.features .features-content .features-info{
		gap: 20px;
	}

	.tradingview-widget-container{
		width: 100% !important;
		height: 60vh !important;
	}

	.ending-detailsContent{
		width: 100%;
		gap: 30px;
	} 
}

   /* desktop screens resolution 1366 x 768 */
   @media screen and (width: 1366px) and (height: 768px) {
	.get-started{
		height: 110vh;
		background: black;				
		color: #fff;
		padding-top: 130px;
		margin-top: -33.5px;
	}

	.get-started-cards .card{
		width: 350px;
		height: 360px;
		background: #252433;
		margin-top: 20px;
	}

	.get-started-cards .row{
		display: flex;
		gap: 60px;
	}

	.about-us{
		width: 100%;
		height: 100vh;
		background: black;
		color: #fff;
	}

	.about-us .about-us-content{
		width: 86.5%;
		margin: auto;
		padding-top: 110px;
		display: flex;
		gap: 100px;
	}

	.features{
		height: 150vh;
	}

	.features .features-content .features-info{
		display: flex;
		gap: 60px;
	}

	.market{
		height: 150vh;
	}

	.tradingview-widget-container{
		width: 100% !important;
		height: 100vh !important;
	}

	.choose-us{
		height: 110vh;
	}

	.choose-us-content{
		padding-top: 108px;
	}

	.owners-quote .owners-quote-content{
		padding-top: 70px;
	}

	.ending-details{
		height: 53vh;
		margin-top: 80px;
	}
		
	.ending-detailsContent{
		width: 100%;
		gap: 60px;
	} 
		
	
}

/* desktop screens resolution 1234 x 650 */
@media screen and (width: 1234px) and (height: 650px) {
	.HOME{
		height: 110vh;
	}

	.get-started{
		height: 130vh;
	}

	.get-started-cards .card{
		width: 330px;
		height: 360px;
		background: #252433;
		margin-top: 20px;
	}

	.get-started-cards .card h5{
		font-size: 30px !important;
	}

	.get-started-cards .row{
		display: flex;
		gap: 40px;
	}

	.about-us{
		height: 120vh;
	}

	.about-us .about-us-content{
		padding-top: 110px;
	}

	.features{
		height: 160vh;
	}

	.features .features-content{
		padding-top: 110px;
	}

	.features .features-content .features-info{
		display: flex;
		gap: 10px;
	}

	.market{
		height: 120vh;
	}

	.tradingview-widget-container{
		width: 100% !important;
	}

	.choose-us{
		height: 140vh;
	}

	.owners-quote{
		height: 100vh;
	}

	.ending-details{
		height: 64vh;
	}

	.ending-detailsContent{
		width: 100%;
		gap: 30px;
	} 
}
  


   